select {
	display:inline;
	width:auto;
	padding:-2px;
	margin: 2px;
	 -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    border-radius: 5%;
    border: 1px solid $border-light;
}

input {
	display:inline;
	width:auto;
	padding:-2px;
	margin: 2px;
	 -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    border-radius: 5%;
    border: 1px solid $border-light;

    &:after {
        content: "* * *";
    }
}
