.m-t-0 {
	margin-top: 0 !important;
}

.m-b-0 {
	margin-bottom: 0 !important;
}

.full-height {
    height: 100vh;
}


.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}