
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


html, body {
	.image-bg {
		background: url('/img/bg-mountain.jpg') no-repeat center center fixed; 
	}
	
    background-color: $body-bg;
    background-size:cover;
    height: 100vh;
    margin: 0;
}


.content {
    text-align: center;
}


// Files
@import "homePageContent";
@import "menus";
@import "panels";
@import "dropdown-menu";
@import "datatable";
@import "carousels";


// Utilities
@import "html-components";
@import "utilities";