.datatable {
	
	table {

		thead {
			border: ridge;
			tr {
				background-color:#ddd;
			}
		}

		tbody {
			tr:nth-child(odd) { 
				background-color: $base-color;
			}
		}

	}

	.pagination-options li {
	    color: $link-color;
	    padding: 8px 8px;
	    text-decoration: none;

	    &:hover {
	    	cursor:pointer;
	    	color: $cima-blue;
	    }
	}

}