$border-light: #a6a6cc; 
$border-heavy: #141419; 
$light-blue: #d0d0ff;
$bold-blue: #3097D1;

.datatable {
	
	table {
		border: 1px solid $border-heavy;
		thead {
			border: 0.5px solid $border-light;
			tr {
				background-color: #fff;
				th {
					border-right: 0.5px solid $border-light;
					border-bottom: 1px solid $border-light;
					text-align:center;
				}
			}
		}

		tbody {
			tr {

				&:nth-child(odd) {
					background-color: $light-blue;
				}

				td {
					position:relative;

					img {
						position:absolute;
						background-color:transparent;
						top:0;
						left:0;
						height:100%;

					}

					p.number {
						text-align:center;
					}

					p.string {
						text-align:left;
					}
				}
			}
		}

	}

	p.pagination-information, .datatable-label {
		font-size:14px;

		.info {
			font-size:16px;
			font-weight:600;
			color:$bold-blue;
		}
	}


	ul.pagination-options {
		margin:0;

		li 	{

		}


	    &:hover {
	    	cursor:pointer;
	
	    }
	}


}