$dropdown-text-offset: 100px;

.dropdown {
    position: relative;

}

.dropdown-content {
    display: none;
    position: absolute;
    top:0px;
    left:$dropdown-text-offset;
    background-color: #f9f9f9;
    min-width: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding:10px;

    ul {
        margin-right:$dropdown-text-offset;
        margin-bottom:0;

    }
}

.dropdown:hover .dropdown-content {
    display: block;
}