#home-page {
	
	.top-right {
		background-color:$body-bg;
		position: absolute;
		top: 0;
		right: 0;
		padding: 5px;

		a {
			padding: 0 25px;
		}
	}

	#home-page-content {
		background-color:$body-bg;
		width: 100%;

		.title {
			font-size: 84px;
			font-weight:400;
			margin-bottom: -10px;
		}

		a {
			padding: 0 25px;
		}
	}

	.links {
		margin-bottom: 10px;
	}

}

