select {
	display:inline;
	width:auto;
	padding:-2px;
	margin: 2px;
	 -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    border-radius: 5%;
    border: 1px solid #d0d0ff
}

input {
	display:inline;
	width:auto;
	padding:-2px;
	margin: 2px;
	 -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    border-radius: 5%;
    border: 1px solid #d0d0ff;

    &:after {
        content: "* * *";
    }
}



.select-option {
    box-shadow: 0 1px 1px rgba(1,1,1,0.25);
    transition: all 0.2s linear 0s;
    cursor:pointer;
    padding: 4px;
    margin-top:0px;
    margin-bottom:2px;

    &:last-of-type {
    	box-shadow: 0 -1px -1px rgba(1,1,1,0.25);
    }

    .badge {
	    margin-top: 4px;
	    margin-right:4px;
	}

	&:hover {
	    background: #d0d0ff;
	}
}

/* Changes bootstrap nave dropdown to be an open search menu positioned at 100% */
.search-option-menu {
	display: block;
	margin-left: 15px;
	margin-right: 15px;
	right: 0;
}
.search-option {
	box-shadow: 0 1px 1px rgba(1,1,1,0.25);
    transition: all 0.2s linear 0s;
    cursor:pointer;
    padding: 4px;
    margin: 0px 5px 0px 5px;

    &:hover {
	    background: #d0d0ff;
	}
}

/* search not found panel in dropdown list */
.search-not-found {
	cursor:none;
	&:hover {
	    background: white;
	}
}

/* The search clear button at the right of the search input box */

.search-clear {
    position: absolute;
    right: 25px;
    top:12.5px;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}

.google-map-column {
    padding:0;
    margin-top:-10px;
}


