select {
	display:inline;
	width:auto;
	padding:-2px;
	margin: 2px;
	 -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    border-radius: 5%;
    border: 1px solid #d0d0ff
}

input {
	display:inline;
	width:auto;
	padding:-2px;
	margin: 2px;
	 -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    border-radius: 5%;
    border: 1px solid #d0d0ff;

    &:after {
        content: "* * *";
    }
}



.select-option {
    box-shadow: 1px 1px 1px rgba(1,1,1,0.25);
    transition: all 0.2s linear 0s;
    cursor:pointer;
    padding: 4px;
    margin-top:0px;
    margin-bottom:2px;

    &:last-of-type {
    	box-shadow: 1px -1px -1px rgba(1,1,1,0.25);
    }

    .badge {
	    margin-top: 4px;
	    margin-right:4px;
	}

	&:hover {
	    background: #d0d0ff;
	}
}

/* Changes bootstrap nave dropdown to be an open search menu positioned at 100% */
.search-option-menu {
	display: block;
	margin-left: 15px;
	margin-right: 15px;
	right: 0;
}
.search-option {
	box-shadow: 1px 1px 1px rgba(1,1,1,0.25);
    transition: all 0.2s linear 0s;
    cursor:pointer;
    padding: 4px;
    margin: 0px 5px 0px 5px;

    &:hover {
	    background: #d0d0ff;
	}
}

/* search not found panel in dropdown list */
.search-not-found {
	cursor:none;
	&:hover {
	    background: white;
	}
}

/* The search clear button at the right of the search input box */

.search-clear {
    position: absolute;
    right: 25px;
    top:12.5px;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}

/* Map column on a bootstrap col from map sizing */

.google-map-column {
    padding:0px;
    margin-top:-10px;
}

.btn-default {
	&:hover {
	    background: #d0d0ff;
	}
}

/* Fake Table made rfrom divs */

.fake-table {
	.row {
		padding:4px;
		box-shadow: 1px 1px 1px rgba(1,1,1,0.25);

		&:last-of-type {
	    	box-shadow: 1px -1px -1px rgba(1,1,1,0.25);
	    }
	    
	}

	.row-header {
    	background: #37474F;
    	color: #e1f5fe;
    }

	.row-delimiter {
    	background: #929fba;
    	color: #b3e5fc
    }

    .row-link {
    	cursor: pointer;
    	&:hover {
		    background: #d0d0ff;
		}
    }
}

/*Fonts */

.h4 {
    font-size:1.2em;
    font-weight:bold;
}

.h3 {
    font-size:1.4em;
    font-weight:bold;
}

/* Panel-headers, floating buttons text wrap */

.panel-header span, .panel-header p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 75%;
    padding-top: 10px;
}

.panel-header .clearfix {
    height: 1px;
}